.container {
  background-color: #000; 
  background: url("./assets/black-bg.jpg");
  background-size: cover; 
  font-family: Arial, sans-serif;
  color: white;
  box-sizing: border-box; 
  margin: 0; 
  padding: 50px;
  height: 100vh;
}